*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container{
    height: 250vh;
    width: 99vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    font-family: 'Work Sans', sans-serif;
}
.home{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../ContactUs_kd/background.jpg);
    margin-top: 73px;
}
.home-head1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Nunito",sans-serif;
    font-size: 70px;
    padding-top: 7%;
}
.content{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.content1{
    width: 90%;
    height: 15%;
    text-align: center;
}
.content1 h5{
    position: relative;
    display: inline-block;
    font-family:"Sofia", sans-serif;
    color: #FEA116 !important;
    font-weight: 400;
    text-align: left;
    font-size:  2rem;
    padding-top: 3%;
}
.content1 h5:before{
    content:" ";
    height: 2px;
    width: 80px;
    margin-left: -60%;
    margin-top: 20%;
    background:orange;
    position: absolute;
    left: 0;
}
.content1 h5:after{
    content:" ";
    height: 2px;
    width: 80px;
    margin-left: 110%;
    margin-top: 20%;
    background:orange;
    position: absolute;
    left: 0;
}
.content1 h1{
    font-family: 'Satisfy', cursive;
    line-height: 1.2;
    font-weight: 800;
    font-size: calc(1.6rem + 1.5vw);
}
.content-head{
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
}
.head1 h3{
    position: relative;
    display: inline-block;
    font-family:"Sofia", sans-serif;
    color: #FEA116 !important;
    font-weight: 400;
    text-align: left;
    font-size:  1.5rem;
    padding-top: 26%;
}
.head1 h3:after{
    content:" ";
    height: 2px;
    width: 50px;
    margin-top: 20px;
    margin-left: 100px;
    background:orange;
    position: absolute;
    left: 0;
}
.head1 p{
    font-size: 18px;
    opacity: 70%;
}
.content-detail{
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.content-map{
    width: 45%;
    height: 100%;
    margin-top: 15px;
}
.content-form{
    width: 45%;
    height: 100%;
    
}
#name{
    width: 40%;
    height: 45px;
    margin-left: 8%;
    margin-top: 6%;
}
#email{
    width: 40%;
    height: 45px;
    margin-left: 2%;
    margin-top: 6%;
}
#subject{
    width: 83%;
    height: 45px;
    margin-left: 8%;
    margin-top: 6%;
}
#message{
    width: 83%;
    height: 160px;
    margin-left: 8%;
    margin-top: 6%;
}
#btn1{
    background-color: #FEA116;
    text-transform: uppercase;
    width: 83%;
    height: 50px;
    margin-left: 8%;
    margin-top: 6%;
    font-size: 20px;
    border: none;
    color: white;
    border-radius: 5px;
}


.footer{
    height: 30%;
    width: 100%;
    background-color: rgb(45, 47, 71);
    display: flex;
    margin-top: 5%;
    flex-direction: column;
}
.content_footer{
    width: 100%;
    height: 80%;
    font-size: 22px;
    display: flex;
    color: white;
}
.box1{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
}
.content_footer a{
    color: white;
}
.box1 li a{
    text-decoration: none;
}
.box1 li{
    list-style-type: none;
}
.content_footer h2{
    font-family:"Sofia", sans-serif;
    color: orange;
}
.box1 a:hover{
    color: orange;
}
.box2{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-bottom: 100px;
}
.box3{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-bottom: 100px;
}
.box4{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-bottom: 150px;
}

.box4 button{
    height: 30px;
    width: 100px;
    background-color: orange;
    border: 1px solid orange;
    color: white;
    border-radius: 5px;
}
.box4 input{
    height: 30px;
    width: 200px;
    border-radius: 5px;
}
.info_footer{
    height: 15%;
    width: 100%;
   color: white;
   display: flex;
   font-size: 22px;
   justify-content: center;
   align-items:center;
}
/* Nav Style */
.nav_bar{
    height: 10%;
    width: 100%;
    /* width: 91%; */
    background-color: rgb(18, 27, 68);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Added position fixed style */
    position: fixed; 
    top: 0px;
    right: 0px;
    left: 0px;
    /* left: 77px; */
}
.logo{
    padding-left: 60px;
    font-size: 22px;
}
.logo h1{
    color: orange;
}
.nav_list{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav_list li{
    float: left;
    list-style-type: none;
    padding-left: 60px;
    font-size: 22px;
    margin-top: 10px;
}
.nav_bar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.nav_list button{
    height: 50px;
    width: 150px;
    margin-left: 30px;
    margin-right: 10px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 5px;
    font-size: 18px;
    color: white;
}
.nav_list button a{
   color: white;
   font-size: 18px;
   font-weight: bold;
}
.nav_list button:hover{
    background-color: white;
    color: orange;
    cursor: pointer;
}
.nav_list li a:hover{
    cursor: pointer;
   color: orange;
   font-size: 110%;
}