*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.home{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
}
.nav_bar{
    height: 9%;
    width: 99%;
    background-color: rgb(18, 27, 68);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background: none; */
}
.logo{
    padding-left: 60px;
    font-size: 22px;
}
.logo h1{
    color: orange;
}
.nav_list{
    height: 100%;
    width: 60%;
    /* background-color: brown; */
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav_list li{
    float: left;
    list-style-type: none;
    padding-left: 60px;
    font-size: 22px;
    margin-top: 10px;
}
.nav_bar a{
    text-decoration: none;
    color: white;
}
.nav_list button{
    height: 50px;
    width: 150px;
    margin-left: 30px;
    margin-right: 10px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 5px;
}
.nav_list button a{
   color: white;
   font-size: 18px;
}


.header{
    height: 30%;
    width: 100%;
    background: linear-gradient(rgba(15,23,43,.9),rgba(12,23,43,.9)),url(https://media.istockphoto.com/id/1218254547/photo/varied-food-carbohydrates-protein-vegetables-fruits-dairy-legumes-on-wood.jpg?b=1&s=170667a&w=0&k=20&c=uGHRWrmqv4Nxdj7iUO4iYavWLjqFB3uwH1K3RQ9NID0=);
    background-repeat: no-repeat;
    background-size:1690px 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-child{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bolder;
}


.menu-logo-parent{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-logo{
    height: 100%;
    width: 100%;
    color: orange;
    font-size: 22px;
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-logo::after{
    margin-left: 10px;
    content: "";
    display: block;
    width: 50px;
    height: 2.5px;
    background-color: orange;
}
.menu-logo::before{
    margin-right: 10px;
    content: "";
    display: block;
    width: 50px;
    height: 2.5px;
    background-color: orange;
}

.sub{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: rgb(1, 1, 1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

.menu_nav_parent{
    height:20%;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.menu_nav{
    height: 100%;
    width:100%;
    display:flex ;
    justify-content: space-around;
    align-items: center;
  
    
}
.card-1{
    /* border: 1px solid black; */
    color: rgb(18, 27, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.des-1{
    height:70%;
    width: 100%;
    padding: 10px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.icon-title{
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 19px;
    text-decoration: underline white;
}
.card-1:hover{
    color: orange;
}
.icon-title:hover{
    cursor: pointer;
    color:orange;
    text-decoration: underline;
    font-size: 120%;
}
.item-parent{
    margin-left: 20px;
    margin-top:7%;
    height: 100%;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.item{
    height: 40%;
    width:100%;
    
    display: flex;
    justify-content:center;
    align-items: center;
    /* margin-bottom: 5%; */
    /* flex-direction: column; */
   
}
hr{
    width: 90%;
    margin-left: 5%;
    border: 1px solid orange;
  
}

.dish{
    height:100%;
    width: 100%;
   
    /* background-color: rgb(0, 0, 0); */

}
.item-a{
    background-image: url(https://c0.wallpaperflare.com/preview/429/304/58/baked-beer-cheese-close-up.jpg);
    background-size: cover;
    border: 1px solid white;
    background-color: aqua;
    width: 40%;
    height: 100%;
    margin-right: 5px ;
   
}

.item-b{
    background-image: url(https://thumbs.dreamstime.com/b/isolated-round-pizza-black-background-tomatoes-aside-space-text-enlargement-italian-style-recepies-authentic-fresh-175907270.jpg);
    background-size: 615px 300px;
    background-repeat: no-repeat;
    border: 1px solid white;
    background-color: aqua;
    /* padding: 15px; */
    width: 40%;
    height: 100%;
    /* margin-right: 50px ; */
   
}

.item-c{
    background-image: url(https://thumbs.dreamstime.com/b/pizza-black-background-delicious-concrete-top-view-copy-space-hot-pepperoni-mozzarella-cheese-tomatoes-basil-210753064.jpg);
    background-size: 615px 300px;
    background-repeat: no-repeat;
    border: 1px solid white;
    background-color: aqua;
    /* padding: 15px; */
    width: 40%;
    height: 100%;
    margin-right: 5px ;
   
}

.item-d{
    background-image: url(https://media.istockphoto.com/id/1045841884/photo/fresh-italian-pizza.jpg?s=612x612&w=0&k=20&c=3jg9mV9ZW6Pdt8mV02dGzTkm5j7qp0y7CQtQjyh8Dno=);
    background-size: 615px 300px;
    background-repeat: no-repeat;
    border: 1px solid white;
    background-color: aqua;
    /* padding: 15px; */
    width: 40%;
    height: 100%;
    /* margin-right: 50px ; */
   
}

.item-e{
    background-image: url(https://c8.alamy.com/zooms/9/3fc2594240f140a982ad6ca200b8f92f/2accgrx.jpg);
    background-size: 615px 300px;
    background-repeat: no-repeat;
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    /* padding: 15px; */
    width: 40%;
    height: 100%;
    margin-right: 5px ;
    /* margin-bottom: 15px; */
   
}
.item-f{
    background-image: url(https://t3.ftcdn.net/jpg/02/62/73/88/360_F_262738836_IsEBoixgF0jJq3ep3nnPQG6E1OAxan5i.jpg);
    background-size: 615px 300px;
    background-repeat: no-repeat;
    border: 1px solid white;
    background-color: aqua;
    /* padding: 15px; */
    width: 40%;
    height: 100%;
     /* margin-bottom: 15px; */
   
}
.item-g{
    background-image: url(https://thumbs.dreamstime.com/b/pizza-da-carne-com-presunto-pepperoni-e-bacon-em-um-fundo-preto-99280616.jpg);
    background-size: 615px 300px;
    background-repeat: no-repeat;
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    /* padding: 15px; */
    width: 40%;
    height: 100%;
     margin-right: px ;
   
}
.item-h{
    background-image: url(https://images.creativemarket.com/0.1.0/ps/12363940/910/603/m1/fpnw/wm1/dsc09912-.jpg?1652177423&s=43af1f7549098f3ce91ec35d865ab164);
    background-size: 615px 300px;
    background-repeat: no-repeat;
    border: 1px solid white;
    background-color: aqua;
    /* padding: 15px; */
    width: 40%;
    height: 100%;
    /* margin-right: 50px ; */
   
}

.food-title{
    color: orange;
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.description{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    height:100%;
    width: 50%; 
    color: white;
    background-color:rgba(0,0,0,0.5);
}
.veg{
    margin-top: 10px;
    color: rgb(30, 174, 30);
    font-size: 18px;
}
.non-veg{
    margin-top: 10px;
    color: rgb(255, 0, 0);
    font-size: 18px;
}
.amt{
    font-size: x-large;
}
sup{
    padding-left: 5px;
}
/* .item-1:hover{
    border: 1px solid black;
    padding: 10px;
    height: 120%;
    cursor: pointer;
    box-shadow: 4px 0px 20px 0px rgba(128,128,128,0.8);
} */


.invisible a{
    text-decoration: none;
    font-size: 18px;
    /* font-weight: 700; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}
.invisible:hover{
    background-color: tomato;
    
}
.price{
    margin-top: 6%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.invisible{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 50%;
    border-radius: 15px;
    margin-top: 10%;
    background-color: red;
    /* visibility: hidden; */
    
}

.card-1 a{
    text-decoration: none;
    color: rgb(18, 27, 68); ;
    
}
