*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    font-family: 'Work Sans', sans-serif;
}

.home{
    height: 100%;
    width: 90%;
    /* background-color: aqua; */
}
.background{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(15, 15, 15, 0.9),rgba(0, 0, 0, 0.9)),url(https://4.bp.blogspot.com/-V9-V3z6qZJQ/VN4YPziFQqI/AAAAAAAACUE/gkjhH2Nu3gY/s1600/15263-Fish%2C%2BSalad%2C%2BBread%2BFood%2BHD%2BWallpaperz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.form-parent{
    height: 91%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 4px solid orange;
    border-radius: 15px;
    height: 70%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 3px -10px 10px 0px rgba(255, 165, 0, 1); */
}
.title{
    margin-top: -10px;
    font-size: 30px;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: orange;
    margin-bottom: 10px;
}
.label{
    padding-top: 20px;
    color: orange;
}

.content{
    width: 70%;
    height: 90%;
    
}


input[type=email]{
    font-size:15px;
    border: none;
    color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(121, 114, 114);
  margin-top:10px;
  border-right:20px ;
  width: 240px;
  background: none;
  outline: none;
}

input[type=password]{
    border: none;
    font-size:15px;
    color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(121, 114, 114);
  margin-top:10px;
  border-right:20px ;
  width: 240px;
  background: none;
  outline: none;
}

button{
    cursor: pointer;
    border: none;
    text-align: center;
    width:70% ;
    font-size: 19px;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    background:none;
    color: orange;
    font-weight: 700;
    outline: none;
}
.btn{
    margin-top: 10px;
    padding-top: 20px;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover{
    
    border: 1 px soild orange;
    background-color: orange;
    color: white;
}
.forget-pass{
    cursor: pointer;
    margin-top: 20px;
    color: orange;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.forget-pass:hover{
    text-decoration: underline;
}
.signup{
    margin-top: 10%;
    height: 10%;
    color: orange;
    width: 100%;
    text-align: center;
}
.text{
    padding-top:6%;
}
a{
    text-decoration: none;
    color: orange;
}

/* Navigation bar styling */
.nav_bar{
    height: 10%;
    width: 100%;
    /* width: 91%; */
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Added position fixed style */
    position: fixed; 
    top: 0px;
    right: 0px;
    left: 0px;
    /* left: 77px; */
}
.logo{
    padding-left: 60px;
    font-size: 22px;
}
.logo h1{
    color: orange;
}
.nav_list{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav_list li{
    float: left;
    list-style-type: none;
    padding-left: 60px;
    font-size: 22px;
    margin-top: 10px;
    font-weight: bold;
}
.nav_bar a{
    text-decoration: none;
    color: white;
}
.nav_list button{
    height: 50px;
    width: 150px;
    margin-left: 30px;
    margin-right: 10px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 5px;
    font-size: 18px;
    color: white;
}
.nav_list button a{
   color: white;
   font-size: 18px;
}
.nav_list button:hover{
    background-color: white;
    color: orange;
    cursor: pointer;
}
.nav_list li a:hover{
    cursor: pointer;
   color: orange;
   font-size: 110%;
}